{% extends 'master.html' %}

{% block title %}
Creative Spaces | View Profile
{% endblock %}

{% block content %}

<div class="blog-w3ls py-5 bg-light border-bottom" id="what">
		<div class="container py-xl-3 py-lg-3">
			<h3 class="title-w3 mb-sm-5 mb-4 text-dark text-center font-weight-bold">{{ detail.first_name }} {{ detail.last_name }}</h3>
        </div>
    <div class="text-center">
        <img src="/media/{{ detail.image }}" class="rounded" alt="...">
        <p class="text-dark text-center mx-auto mt-4">For business inquiry, reach me at:</p>
        <div class="fv3-contact">
						<span class="fa fa-envelope mr-2 mt-4"></span>
						<p class="text-dark">{{ detail.email }}</p>
					</div>
					<div class="fv3-contact my-4">
						<span class="fa fa-phone mr-2"></span>
						<p class="text-dark">+91 {{ detail.mobile }}</p>
					</div>
    </div>
</div>

{% endblock %}