{% extends 'admin_master.html' %}


{% block title %}
Creative Spaces | Update Project Details
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
{% endblock %}

{% block content %}

<!-- main content start -->
<div class="main-content">

    <div class="container-fluid content-top-gap">

            <div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                    <p class="text-center font-weight-bold h1 text-primary">Update Project<span></span></p>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% if data %}
                        <div class="text-center">
                            <img src="/media/{{ data.photo }}" class="rounded" alt="..." width="300" height="300">
                        </div>
                        <div class="form-row pt-3">
                            <div class="form-group col-md-12">
                                <label for="inputEmail4" class="input__label">Product Name</label>
                                <input type="text" value="{{ data.p_name }}" name="p_name" class="form-control input-style" id="inputEmail4"
                                    placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input__label">Description</label>
                            <textarea class="form-control input-style" name="description" required>{{ data.description }}</textarea>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="input__label">Photo</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="photo">
                                    <label class="custom-file-label">Choose file...</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-style mt-4">Save Changes</button>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
            <!-- //forms 2 -->

        </section>
        <!-- //forms -->
        </section>
        <!-- //forms  -->

    </div>
    <!-- //content -->

</div>
<!-- main content end-->

{% endblock %}