{% extends 'master.html' %}

{% block title %}Creative Spaces | Products{% endblock %}

{% block content %}

<!-- banner -->
	<div class="banner-w3ls-2">

	</div>
	<!-- //banner -->
	<!-- page details -->
	<div class="breadcrumb-agile">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Products</li>
		</ol>
	</div>
	<!-- //page details -->

	<div class="blog-w3ls py-5 bg-light border-bottom" id="what">
		<div class="container py-xl-3 py-lg-3">
			<h3 class="title-w3 mb-sm-5 mb-4 text-dark text-center font-weight-bold">Products</h3>
			<form method="get">
				<div class="form-row">
					<select class="custom-select input-style col-md-10 form-group" name="category" required>
                        <option value=""></option>
						{% if categories %}
                                {% for val in categories %}
                                    <option value="{{ val.c_id }}">{{ val.c_name }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        <div class="form-group text-center col-md-2">
                            <button type="submit" class="btn btn-dark w-100">Filter</button>
                            </div>
				</div>
			</form>
			<div class="row package-grids">
				{% for i in products %}
				<div class="col-md-4 blog-w3 my-3">
					<div class="blogs-top">
						<img src="/media/{{ i.cover_photo }}" alt="" width="350" height="300" />
					</div>
					<div class="blogs-bottom p-4 bg-white">
						<h5 class="text-dark font-weight-bold mb-3 text-center">{{ i.p_name }}</h5>
<!--						<p class="card-text text-justify">{{ i.description }}</p>-->
									<ul class="list-group list-group-flush">
            <li class="list-group-item text-center text-info h5">Price - Rs. {{ i.price }}/-</li>
<!--            <li class="list-group-item text-center">Category - {{ i.category.c_name }}</li>-->
        </ul>
						<div class="text-center">
							{% if request.session.role != 'professional' and request.session.role != 'admin' %}
								{% if i.quantity < 1 %}
								<h4 class="text-dark">Sold Out</h4>
								{% else %}
							{% if not i.p_id in temp_data %}
								<a href="{% url 'backend:add_to_cart' pk=i.p_id %}" class="btn btn-info text-dark mt-2">Add to cart</a>
							{% else %}
							<a href="{% url 'backend:add_to_cart' pk=i.p_id %}" class="btn btn-warning text-dark mt-2">Checkout</a>
							{% endif %}
								{% endif %}
							{% endif %}
						</div>
					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}