<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %}</title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/admin_panel/css/style-starter.css">
  {% block style %}
  {% endblock %}

  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>


<body class="sidebar-menu-collapsed">
  <div class="se-pre-con"></div>
<section>
  <!-- sidebar menu start -->
  <div class="sidebar-menu sticky-sidebar-menu">

    <!-- logo start -->
    <div class="logo">
      <h1><a href="#">Dashboard</a></h1>
    </div>

  <!-- if logo is image enable this -->
    <!-- image logo --
    <div class="logo">
      <a href="index.html">
        <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
      </a>
    </div>
     //image logo -->

    <div class="logo-icon text-center">
      <a href="/" title="dashboard"><img src="/static/admin_panel/images/logo.png" alt="dashboard-icon"> </a>
    </div>
    <!-- //logo end -->

    <div class="sidebar-menu-inner">

      <!-- sidebar nav start -->
      <ul class="nav nav-pills nav-stacked custom-nav">
        {% if request.session.role == 'admin' %}
        <li class="active"><a href="{% url 'backend:admin_index' %}"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
        </li>
        {% elif request.session.role == 'professional' %}
        <li class="active"><a href="{% url 'professionals:professional_index' %}"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
        </li>
        {% elif request.session.role == 'user' %}
        <li class="active"><a href="{% url 'users:user_index' %}"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
        </li>
        {% endif %}


        {% if request.session.role == "admin" %}
<li class="menu-list">
          <a href="#"><i class="fa fa-cogs"></i>
            <span>Manage Roles <i class="lnr lnr-chevron-right"></i></span></a>
          <ul class="sub-menu-list">
            <li><a href="{% url 'backend:block_user' %}">Block</a> </li>
            <li><a href="{% url 'backend:unblock_user' %}">Unblock</a> </li>
          </ul>
        </li>
          <li class="menu-list">
          <a href="#"><i class="fa fa-th"></i>
            <span>Manage Categories <i class="lnr lnr-chevron-right"></i></span></a>
          <ul class="sub-menu-list">
            <li><a href="{% url 'backend:add_category' %}">Add category</a> </li>
            <li><a href="{% url 'backend:view_categories' %}">View categories</a> </li>
          </ul>
        </li>
          <li class="menu-list">
          <a href="#"><i class="fa fa-table"></i>
            <span>Manage Products <i class="lnr lnr-chevron-right"></i></span></a>
          <ul class="sub-menu-list">
              <li><a href="/add_product/">Add product</a> </li>
            <li><a href="/view_products/">View products</a> </li>
          </ul>
        </li>
        {% endif %}

        {% if request.session.role == "professional" %}
          <li class="menu-list">
          <a href="#"><i class="fa fa-image"></i>
            <span>Manage Projects <i class="lnr lnr-chevron-right"></i></span></a>
          <ul class="sub-menu-list">
              <li><a href="{% url 'professionals:add_project' %}">Add Project</a> </li>
            <li><a href="{% url 'professionals:view_projects' %}">View Projects</a> </li>
          </ul>
        </li>

        <li><a href="/professional/answer_questions/"><i class="fa fa-th"></i> <span>Questions</span></a></li>
        {% endif %}

        {% if request.session.role == "user" %}
        <li><a href="/user/answer_questions/"><i class="fa fa-th"></i> <span>Answers from Professional</span></a></li>
        {% endif %}
        <li><a href="/update_my_profile/"><i class="fa fa-user"></i> <span>Update Profile</span></a></li>
        <li><a href="/logout/"><i class="fa fa-power-off"></i> <span>Log Out</span></a></li>
        <!--<li><a href="blocks.html"><i class="fa fa-th"></i> <span>Content blocks</span></a></li>
        <li><a href="forms.html"><i class="fa fa-file-text"></i> <span>Forms</span></a></li>-->
      </ul>
      <!-- //sidebar nav end -->
      <!-- toggle button start -->
      <a class="toggle-btn">
        <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
        <i class="fa fa-angle-double-right menu-collapsed__right"></i>
      </a>
      <!-- //toggle button end -->
    </div>
  </div>
  <!-- //sidebar menu end -->
  <!-- header-starts -->
  <div class="header sticky-header">

    <!-- notification menu start -->
    <div class="menu-right">
      <div class="navbar user-panel-top">
        <div class="user-dropdown-details d-flex">
          <div class="profile_details">
            <ul>
              <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="profile_img">
                    <img src="/media/{{ request.session.image }}" class="rounded-circle" alt="" />
                    <div class="user-active">
                      <span></span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                  <li class="user-info">
                    <h5 class="user-name">{{ request.user.get_full_name }}</h5>
                  </li>
                  <li> <a href="{% url 'backend:update_password' %}"><i class="lnr lnr-cog"></i>Change Password</a> </li>
                  <li class="logout"> <a href="/logout/"><i class="fa fa-power-off"></i> Logout</a> </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->





    {% block content %}{% endblock %}






</section>

<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>
<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->


<script src="/static/admin_panel/js/jquery-3.3.1.min.js"></script>
<script src="/static/admin_panel/js/jquery-1.10.2.min.js"></script>

<!-- chart js -->
<script src="/static/admin_panel/js/Chart.min.js"></script>
<script src="/static/admin_panel/js/utils.js"></script>
<!-- //chart js -->

<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<script src="/static/admin_panel/js/bar.js"></script>
<script src="/static/admin_panel/js/linechart.js"></script>
<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


<script src="/static/admin_panel/js/jquery.nicescroll.js"></script>
<script src="/static/admin_panel/js/scripts.js"></script>

<!-- close script -->
<script>
  var closebtns = document.getElementsByClassName("close-grid");
  var i;

  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
      this.parentElement.style.display = 'none';
    });
  }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
  $(function () {
    $('.sidebar-menu-collapsed').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll when navbar is in active -->

 <!-- loading-gif Js -->
 <script src="/static/admin_panel/js/modernizr.js"></script>
 <script>
     $(window).load(function () {
         // Animate loader off screen
         $(".se-pre-con").fadeOut("slow");;
     });
 </script>
 <!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script src="/static/admin_panel/js/bootstrap.min.js"></script>

<!-- disable back button on page -->

</body>

</html>