{% extends 'master.html' %}

{% block title %}
Creative Spaces | Payment Processing
{% endblock %}

{% block content %}

	<div class="gallery pt-5 mt-5">
		<div class="container pt-xl-5 pt-lg-3">
			<h3 class="title-w3 mb-sm-5 mb-4 text-dark text-center font-weight-bold">Payment Failed :(</h3>
            <p class="title-para text-center mx-auto">Oops! Something went wrong.</p>
            <p class="title-para text-center mx-auto">Please try again later.</p>
        </div>
    </div>

{% endblock %}