{% extends 'admin_master.html' %}


{% block title %}Creative Spaces | Update Password{% endblock %}


{% block content %}

<div class="main-content">
    <div class="container-fluid content-top-gap">

        <section class="forms">
            <!-- forms -->
            <div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                    <p class="text-center font-weight-bold h1 text-primary">Update Password<span></span></p>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="Input1" class="input__label">Old Password</label>
                            <input type="password" class="form-control input-style" id="Input1" name="old_password"
                                placeholder="Enter your old password">
                        </div>

                        <div class="form-group">
                            <label for="Input2" class="input__label">New Password</label>
                            <input type="password" class="form-control input-style" id="Input2" name="new_password"
                                placeholder="Enter new password">
                        </div>

                        <div class="form-group">
                            <label for="Input3" class="input__label">Confirm Password</label>
                            <input type="password" class="form-control input-style" id="Input3" name="confirm_password"
                                placeholder="Confirm password">
                        </div>
                        <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-style mt-4">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

{% if password_invalid %}
<div class="alert alert-danger alert-dismissible">
	<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>Invalid Password!</strong>
	Please enter correct one.
</div>
{% elif passwords_donot_match %}
<div class="alert alert-danger alert-dismissible">
	<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>Passwords don't match!</strong>
</div>
{% endif %}

{% endblock %}